services:
  mc:
    image: itzg/minecraft-server:latest
    container_name: gt6-server
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      TYPE: "CUSTOM"
      VERSION: "1.7.10"
      
      # The entry point jar for lwjgl3ify
      CUSTOM_SERVER: "lwjgl3ify-forgePatches.jar"
      
      # Load all mandatory module access and GC flags from the included file
      JVM_OPTS: "@java9args.txt -Xmx6G -Xms6G"
      
    volumes:
      - ./data:/data
    restart: unless-stopped
