# Configuration file

general {
    # The duration of the day in ticks (Default: 12000)
    I:dayDuration=24000

    # The duration of the night in ticks (Default: 12000)
    I:nightDuration=24000

    # The angle at which the sun/moon should be static (-1 to disable)
    I:staticAngle=-1

    # Whether the moon should be static instead of the sun
    B:staticMoon=false
}
